<div class="h3 p-1 m-0" style="background-color: #1a1a1d00; position: sticky; top: 0; z-index: 1000;">
    <div class="heading" style="color: rgb(133, 130, 130); text-align: center;">
      Contact
    </div>
  </div>
  
  <section id="contact" class="contact-section">
    <h2 class="contact-title">Get In Touch</h2>
    <div class="contact-container">
      <div class="contact-info">
        <div class="info-item animate-fade">
          <i class="fas fa-envelope info-icon"></i>
          <span>Email: <a href="mailto:robinjobmails@gmal.com">My email</a></span>
        </div>
        <div class="info-item animate-fade">
          <i class="fas fa-phone info-icon"></i>
          <span>Phone: <a href="tel:+916374352734">+916374352734</a></span>
        </div>
        <div class="info-item animate-fade">
          <i class="fas fa-map-marker-alt info-icon"></i>
          <span>Location: Tamilnadu, India</span>
        </div>
        <div class="info-item animate-fade">
          <i class="fab fa-linkedin info-icon"></i>
          <span>LinkedIn: <a href="https://www.linkedin.com/in/robin-x-123b7831a/" target="_blank">LinkedIn Profile</a></span>
        </div>
        <div class="info-item animate-fade">
          <i class="fab fa-github info-icon"></i>
          <span>GitHub: <a href="https://github.com/RobinX-dev?tab=repositories" target="_blank">Github Profile</a></span>
        </div>
      </div>
      
    </div>
  </section>
  