<!-- <router-outlet></router-outlet> -->
<div class="row" style="background-color: #3B1C32;">
    <div class="col-6" style="background-color: #3B1C32; border-top-right-radius: 30px;"></div>
    <div class="col-6" style="padding: 0;">
        <div class="navigations">
            <nav class="d-flex justify-content-between" style="background-color: #3B1C32;">
                <a href="#aboutme" class="text mx-2">About Me</a>
                <a href="#projects" class="text mx-2">Projects</a>
                <a href="#resume" class="text mx-2">Resume</a>
                <a href="#contact" class="text mx-2">Contact</a>
                <a href="#certificates" class="text mx-2">Certificates</a>
            </nav>
        </div>
    </div>
    <app-homecomponent></app-homecomponent>
    <app-about></app-about>
    <app-projects></app-projects>
    <app-resume></app-resume>
    <app-certification></app-certification>
    <app-contact></app-contact>
</div>


