<p class="h1 p-2 m-0" style=" top: 0; background-color: #3B1C32; z-index: 100;">
    Myself Robin
</p>
<div>
    <div class="h3 p-1 m-0" style="background-color: #1a1a1d00; position: sticky; top: 0; z-index: 1000;">
        <div class="heading">
            About me
        </div>
    </div>
    
    
    <div class="row p-3 m-0">
        <div class="card col-8 p-2 intro" style="color: white;background-color: transparent;border: 0; font-size: 20px;">
            Hi there! I'm a passionate Software Developer with a strong foundation in Electronics and Communication Engineering. My journey into the tech world has been driven by curiosity and the desire to build impactful solutions.
        With hands-on experience in software development, I've developed data visualization features, built web applications using frameworks like React, Angular, and Blazor, and created APIs to deliver seamless user experiences. My background also includes work on projects ranging from robotics to smart systems, showcasing my ability to merge creativity and technology.
        I enjoy problem-solving, continuously learning new technologies, and taking on challenges that push my limits. My ultimate goal is to contribute to innovative projects that make a difference.
        In my free time, you'll find me exploring the latest tech trends, participating in hackathons, or experimenting with new tools and frameworks.
        </div>
        <div class="card col-4 imagecard" style="background-color: transparent;border: 0px;">
            <div class="image">
                <img style="height: 300px; border-radius: 10px; " src="https://upload.wikimedia.org/wikipedia/commons/d/d5/MS_Dhoni_%28Prabhav_%2723_-_RiGI_2023%29.jpg" alt="Dhoni">
            </div>
        </div>
    </div>
</div>


