/* You can add global styles to this file, and also import other style files */
*{
    /* font-family: "Montserrat Underline", sans-serif; */
    font-family: "Montserrat", sans-serif;
    /* background-color: #1A1A1D; */
    
}

.heading{
    display: inline-block;
    background-color: #6A1E55;
    margin: 0;
    padding: 15px;
    border-radius: 30px;
}